<!-- <div class="title">
    <div class="title__line"></div>
    <div class="title__block">
        <h2 class="title__block-head">Our services</h2>
    </div>
</div> -->
<div class="container">
    <div class="container__carousel">
        <!-- <div class="controls">
            <span class="controls__num">01</span>
            <span class="controls__num">04</span>
        </div> -->
        <mdb-carousel [isControls]="true" [animation]="'slide'">
            <mdb-carousel-item>
                <div class="item">
                    <div class="item__info">
                        <div class="item__info-container">
                            <div class="item__info-block">
                                <div class="title">
                                    <span class="title__head">Paktum</span>
                                    <span class="title__subhead">Debt collection company</span>
                                </div>
                            </div>
                            <div class="item__subinfo-block">
                                <div class="info">
                                    <div class="info__item">
                                        <span class="info__item-head">project type</span>
                                        <span class="info__item-subhead">Landing</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="info__item">
                                        <span class="info__item-head">industry</span>
                                        <span class="info__item-subhead">Financial</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="info__item">
                                        <span class="info__item-head">Timeline</span>
                                        <span class="info__item-subhead">7 days</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item__img">
                        <div class="item__img-screen">
                            <img class="carousel__img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
                        </div>
                        <div class="item__img-border"></div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="item">
                    <div class="item__info">
                        <div class="item__info-container">
                            <div class="item__info-block">
                                <div class="title">
                                    <span class="title__head">Paktum</span>
                                    <span class="title__subhead">Debt collection company</span>
                                </div>
                            </div>
                            <div class="item__subinfo-block">
                                <div class="info">
                                    <div class="info__item">
                                        <span class="info__item-head">project type</span>
                                        <span class="info__item-subhead">Landing</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="info__item">
                                        <span class="info__item-head">industry</span>
                                        <span class="info__item-subhead">Financial</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="info__item">
                                        <span class="info__item-head">Timeline</span>
                                        <span class="info__item-subhead">7 days</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item__img">
                        <div class="item__img-screen">
                            <img class="carousel__img" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
                        </div>
                        <div class="item__img-border"></div>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>