<app-navbar #navbar></app-navbar>
<div id="content-wrapper" [mnFullpage]="options" [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" mnFullpageSlidesNavPosition="right">
    <div id="menuAnchor1" class="section fp__black">
        <app-tabs></app-tabs>
    </div>
    <div id="menuAnchor2" class="section fp__white">
        <app-about-us></app-about-us>
    </div>
    <div id="menuAnchor3" class="section fp__black">
    </div>
    <div black id="menuAnchor4" class="section fp__white">
        <app-carousel></app-carousel>
    </div>
    <div id="menuAnchor5" class="section fp__black">
        <app-product-carousel></app-product-carousel>
    </div>
    <div id="menuAnchor6" class="section fp__white">
        <app-main-cta></app-main-cta>
    </div>
    <div id="menuAnchor7" class="section fp__black">
        <app-footer></app-footer>
    </div>
</div>