<div class="footer">
    <div class="title">
        <div class="title__line"></div>
        <div class="title__block">
            <h2 class="title__block-head">Any questions?</h2>
        </div>
    </div>
    <div class="footer-container container-fluid">
        <div class="row">
            <div class="col-md-6">
                <app-contact-form></app-contact-form>
            </div>
            <div class="col-md-6">
                <app-google-map></app-google-map>
                <div class="footer-gmap">
                    <span class="footer-gmap__title"> Call us now</span>
                    <span class="footer-gmap__contacts">sales@hive-studio.net</span>
                    <span class="footer-gmap__contacts">+380 (97) 409 23 03</span>
                    <span class="footer-gmap__address">63, Hryhoria Andriushchenka Str.
                        <span class="footer-gmap__address--location">Kyiv, Ukraine</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-bottom__info">
        <i class="fa fa-behance footer-bottom__info--item" aria-hidden="true"></i>
        <i class="fa fa-facebook footer-bottom__info--item" aria-hidden="true"></i>
        <i class="fa fa-linkedin footer-bottom__info--item" aria-hidden="true"></i>
        <span class="footer-bottom__info--title">&copy; 2018 Hive Studio. All rights reserved</span>
    </div>
    <div class="footer-bottom__counter">
        <span class="footer-bottom__counter--title"><span class="focused">07</span> / 07</span>
    </div>
</div>