<div class="navbar__toggle-menu">
  <div class="mobile-logo">
    <a href="">
      <img src="./../../../assets/logo.svg" alt="Hive logo" width="150">
    </a>
  </div>
  <div class="navbar__btn-burger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</div>
<div class="navbar__lang-switcher">
  <a class="lang-trigger">EN</a>
  <a class="lang-trigger">UA</a>
  <a class="lang-trigger">RU</a>
</div>
<ul class="nav" id='navmenu'>
  <li data-menuanchor="about">
    <a href="#about">
      About
    </a>
  </li>
  <li data-menuanchor='services'>
    <a href="#services">
      Services
    </a>
  </li>
  <li data-menuanchor='products'>
    <a href="#products">
      Products
    </a>
  </li>
  <li data-menuanchor='portfolio'>
    <a href="#portfolio">
      Portfolio
    </a>
  </li>
  <li data-menuanchor='blog'>
    <a href="#blog">
      Blog
    </a>
  </li>
  <li data-menuanchor='contacts'>
    <a href="#contacts">
      Contacts
    </a>
  </li>
  <li class="logo">
    <div class="site-logo">
      <a href="../">
        <img data-dark='./../../../assets/logo.svg' data-white='./../../../assets/logo.svg' src="./../../../assets/logo.svg"
          alt="Hive logo" width="135">
      </a>
    </div>
  </li>
  <li class="navbar__lang-mobile">
    <a class="lang-trigger">EN</a>
    <a class="lang-trigger">UA</a>
    <a class="lang-trigger">RU</a>
  </li>
</ul>