<div class="navbar" [ngClass]="[color]">
  <a class="navbar__logo" href="../">
    <app-logo [color]="color"></app-logo>
  </a>
  <ul class="navbar__menu">
    <li class="navbar__menu-elem" data-menuanchor="about">
      <a class="menu-link" href="#about">
        <span class="strike">About</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='services'>
      <a class="menu-link" href="#services">
        <span class="strike">Services</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='products'>
      <a class="menu-link" href="#products">
        <span class="strike">Products</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='portfolio'>
      <a class="menu-link" href="#portfolio">
        <span class="strike">Portfolio</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='blog'>
      <a class="menu-link" href="#blog">
        <span class="strike">Blog</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='contacts'>
      <a class="menu-link" href="#contacts">
        <span class="strike">Contacts</span>
      </a>
    </li>
    <li class="navbar__lang-mobile">
      <a class="lang-trigger">EN</a>
      <a class="lang-trigger">UA</a>
      <a class="lang-trigger">RU</a>
    </li>
  </ul>
  <div class="navbar__lang-switcher">
    <a class="lang-trigger">EN</a>
    <div class="lang-dropdown">
      <a href="https://hive-studio.net/uk">UK</a>
      <a href="https://hive-studio.net/ru">RU</a>
    </div>
  </div>
  <div class="navbar__toggle-menu" [ngClass]="{'inverted':isInverted}">
    <div class="mobile-logo">
      <a href="">
        <img src="./../../../assets/logo.svg" alt="Hive logo" width="150">
      </a>
    </div>
    <div class="navbar__btn-burger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>