<div class="navbar" [ngClass]="setClasses()">
  <a class="navbar__logo" href="../">
    <app-logo [color]="color"></app-logo>
  </a>
  <ul class="navbar__menu">
    <li class="navbar__menu-elem" data-menuanchor="about">
      <a class="menu-link" href="#about">
        <span class="strike">{{"navbar.about" | translate }}</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='services'>
      <a class="menu-link" href="#services">
        <span class="strike">{{"navbar.services" | translate }}</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='products'>
      <a class="menu-link" href="#products">
        <span class="strike">{{"navbar.products" | translate }}</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='portfolio'>
      <a class="menu-link" href="#portfolio">
        <span class="strike">{{"navbar.portfolio" | translate }}</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='blog'>
      <a class="menu-link" href="#blog">
        <span class="strike">{{"navbar.blog" | translate }}</span>
      </a>
    </li>
    <li class="navbar__menu-elem" data-menuanchor='contacts'>
      <a class="menu-link" href="#contacts">
        <span class="strike">{{"navbar.contacts" | translate }}</span>
      </a>
    </li>
  </ul>
  <div class="navbar__lang-switcher">
    <a class="lang-trigger">{{ activeLang }}</a>
    <div class="lang-dropdown">
      <a *ngFor="let lang of langs" [routerLink]="[lang == 'en' ? '' : '/' + lang ]">{{ lang }}</a>
    </div>
  </div>
  <div class="navbar__mobile">
    <div class="navbar__mobile__burger" (click)="toggle()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <ul class="navbar__mobile__menu">
      <li class="navbar__mobile__menu-elem" data-menuanchor="about">
        <a class="menu-link" href="#about">{{"navbar.about" | translate }}</a>
      </li>
      <li class="navbar__mobile__menu-elem" data-menuanchor='services'>
        <a class="menu-link" href="#services">{{"navbar.services" | translate }}</a>
      </li>
      <li class="navbar__mobile__menu-elem" data-menuanchor='products'>
        <a class="menu-link" href="#products">{{"navbar.products" | translate }}</a>
      </li>
      <li class="navbar__mobile__menu-elem" data-menuanchor='portfolio'>
        <a class="menu-link" href="#portfolio">{{"navbar.portfolio" | translate }}</a>
      </li>
      <li class="navbar__mobile__menu-elem" data-menuanchor='blog'>
        <a class="menu-link" href="#blog">{{"navbar.blog" | translate }}</a>
      </li>
      <li class="navbar__mobile__menu-elem" data-menuanchor='contacts'>
        <a class="menu-link" href="#contacts">{{"navbar.contacts" | translate }}</a>
      </li>
    </ul>
    <div class="navbar__mobile__social">
      <a href="http://" class="social__link">
        <svg aria-hidden="true" data-prefix="fab" data-icon="behance" class="svg-inline--fa fa-behance social-icon"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path fill="currentColor" d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 
                        124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 
                        30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 
                        47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 
                        58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 
                        33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 
                        58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"></path>
        </svg>
      </a>
      <a href="http://" class="social__link">
        <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f social-icon"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
          <path fill="currentColor" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 
                70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"></path>
        </svg>
      </a>
      <a href="http://" class="social__link">
        <svg aria-hidden="true" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in social-icon"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor" d="M100.3 480H7.4V180.9h92.9V480zM53.8 140.1C24.1 140.1 0 115.5 0 85.8 0 56.1
                       24.1 32 53.8 32c29.7 0 53.8 24.1 53.8 53.8 0 29.7-24.1 54.3-53.8 54.3zM448 480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3 
                       0-55.7 37.7-55.7 76.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V480z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>