<app-main-title [title]="'Our services.'">
</app-main-title>

<tabset [vertical]="true" type="pills">
    <tab *ngFor="let service of services">
        <ng-template tabHeading>
            <span>{{ service.name }}</span>
        </ng-template>
        <div class="tabs">
            <div class="tabs-title">
                {{ service.desc }}
            </div>
            <div class="tabs-img">
                <img class="tabs-img__item" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
            </div>
            <div class="tabs-border"></div>
        </div>
    </tab>
</tabset>
