<div class="title">
    <div class="title__line"></div>
    <div class="title__block">
        <h2 class="title__block-head">Our services</h2>
    </div>
</div>

<tabset [vertical]="true" type="pills">
    <tab>
        <ng-template tabHeading>
            <span>System maintenance & hosting</span>
        </ng-template>
        <div class="tabs">
            <div class="tabs-title">
                Our system administration will guarantee you a 24-hour uptime with efficient load distribution. We can provide you with stable operation of email and domain hosting, secure local network and well-thought-out architecture, customization of hardware equipment
                and optimization of your cms software 1
            </div>
            <div class="tabs-img">
                <img class="tabs-img__item" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
            </div>
            <div class="tabs-border"></div>
        </div>
    </tab>
    <tab>
        <ng-template tabHeading>
            <span>Fullstack web development</span>
        </ng-template>
        <div class="tabs">
            <div class="tabs-title">
                Our system administration will guarantee you a 24-hour uptime with efficient load distribution. We can provide you with stable operation of email and domain hosting, secure local network and well-thought-out architecture, customization of hardware equipment
                and optimization of your cms software 2
            </div>
            <div class="tabs-img">
                <img class="tabs-img__item" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
            </div>
            <div class="tabs-border"></div>
        </div>
    </tab>
    <tab>
        <ng-template tabHeading>
            <span>Identity design & branding</span>
        </ng-template>
        <div class="tabs">
            <div class="tabs-title">
                Our system administration will guarantee you a 24-hour uptime with efficient load distribution. We can provide you with stable operation of email and domain hosting, secure local network and well-thought-out architecture, customization of hardware equipment
                and optimization of your cms software 3
            </div>
            <div class="tabs-img">
                <img class="tabs-img__item" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
            </div>
            <div class="tabs-border"></div>
        </div>
    </tab>
    <tab>
        <ng-template tabHeading>
            <span>SEO & Digital marketing</span>
        </ng-template>
        <div class="tabs">
            <div class="tabs-title">
                Our system administration will guarantee you a 24-hour uptime with efficient load distribution. We can provide you with stable operation of email and domain hosting, secure local network and well-thought-out architecture, customization of hardware equipment
                and optimization of your cms software 4
            </div>
            <div class="tabs-img">
                <img class="tabs-img__item" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
            </div>
            <div class="tabs-border"></div>
        </div>
    </tab>
</tabset>