@import "~fullpage.js/dist/jquery.fullpage.css";
@import "./fonts";
@import "./variables";
@import "./mixins";
html {
    font-size: 18px;
    /* Extra small devices (phones, up to 480px) */
    @media screen and (max-width: 767px) {

    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991px) {

    }
    /* tablets/laptops and up ----------- */
    @media (min-width: 992px) and (max-width: 1399px) {
        font-size: 12px;
    }
    /* large desktops and up ----------- */
    @media screen and (min-width: 1400px) {
        font-size: 18px;
    }

    /* extralarge desktops and up ----------- */
    @media screen and (min-width: 2100px) {
        font-size: 23px;
    }
    line-height: 1.22;
    font-weight: 500;
    font-family: $montserrat !important;
    body {
        font-family: $montserrat !important;
    }
}

tabset {
    display: flex;
    justify-content: space-around;
    margin: 15vh 0 0 18vw;
    .nav {
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        position: initial;
        width: 50vw;
        @media only screen and (max-width: 1023px) {
            margin: 0;
            background: none;
        }
    }
    .tab-content {
        display: flex !important;
        justify-content: space-around;
        align-items: end;
        width: 50vw;
        margin-right: 22vw;
        padding: 0 50px;
        font-size: 3vh;
        text-align: justify;
    }
}

.flex-column .active a {
    background: none !important;
    border: none !important;
    font-weight: 700;
    font-size: 3.64vh;
    color: $white;
}

.flex-column .nav-item a {
    font-weight: 400;
    font-size: 2.62vh;
    color: $white;
    margin-bottom: 23px !important;
}

.flex-column .active a {
    font-size: 3.64vh !important;
    // &:after {
    //     content: "\f105";
    // }
}

.flex-column .nav-item a {
    padding: 1vh 0 !important;
}

.container__carousel {
    .carousel-indicators {
        right: 4vw !important;
        bottom: 53vh !important;
        display: flex;
        justify-content: flex-end !important;
    }
    .carousel .carousel-indicators li {
        width: 23px !important;
        height: 2px !important;
        border-radius: 0 !important;
        cursor: pointer !important;
        margin: 0 !important;
    }
    .carousel .carousel-control-prev-icon,
    .carousel .carousel-control-next-icon {
        width: 45px !important;
        height: 45px !important;
    }
    .carousel__img {
        height: 50vh;
        width: 100%;
    }
}

.container__products {
    .carousel-indicators {
        flex-direction: column;
        bottom: -39px;
    }
    .carousel .carousel-indicators li {
        width: 0.15rem !important;
        height: 3.2rem !important;
        border-radius: 0 !important;
        cursor: pointer !important;
        margin: 1rem 0 !important;
    }
    .carousel .carousel-control-prev-icon,
    .carousel .carousel-control-next-icon {
        width: 45px !important;
        height: 45px !important;
    }
    .carousel__img {
        height: 50vh;
        width: 100%;
    }
    .carousel-indicators .active {
        background-color: $black;
    }
    .carousel-indicators li {
        background-color: $grey;
    }
    .carousel .carousel-control-prev-icon {
        background: none;
    }
    .carousel .carousel-control-next-icon {
        background: none;
    }
    .carousel-control-next {
        right: inherit;
        height: 30vh;
        top: 30vh;
    }
    .carousel-control-prev {
        height: 30vh;
        position: absolute;
        top: 0;
    }
}

// fpJS Setup
#fp-nav {
    top: 50% !important;
    ul li {
        a {
            span {
                width: 8px;
                height: 8px;
                background-color: $white;
                border-radius: 50 !important;
            }
            &.active span {
                width: 16px;
                height: 16px;
                background-color: $focus;
            }
        }
    }
    @include breakpoint($max: 767px) {
        display: none;
    }
}

.right {
    right: 57px !important;
}

.menu-wrapper {
    position: fixed;
    width: 100%;
    z-index: 70;
    text-align: center;
    height: 40px;
    margin: auto;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 10px;
    color: $black;
    background: $black;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.menu li.active {
    background: #666;
    background: $black;
    color: $black;
}

.menu li a {
    text-decoration: none;
    color: $black;
}

.menu li.active a:hover {
    color: $black;
}

.menu li:hover {
    background: $black;
}

.menu li a,
.menu li.active a {
    padding: 9px 18px;
    display: block;
}

.menu li.active a {
    color: $black;
}