@import "~fullpage.js/dist/jquery.fullpage.css";
@import "./fonts";
@import "./variables";
html {
    font-size: 20px;
    line-height: 1.22;
    font-weight: 500;
    font-family: $montserrat !important;
    body {
        font-family: $montserrat !important;
    }
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3vh 12vw;
    &__line {
        border-bottom: 6px solid $focus;
        width: 4vw;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 10px -15px 21px 38px;
        z-index: 1;
    }
    &__block {
        display: flex;
        justify-content: start;
        align-items: center;
        &-head {
            font-size: 2.5rem;
            font-weight: bold;
            z-index: 0;
        }
    }
}

tabset {
    display: flex;
    justify-content: space-around;
    margin-left: 13vw;
    .nav {
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        position: initial;
        width: 50vw;
        @media only screen and (max-width: 1023px) {
            margin: 0;
            background: none;
        }
    }
    .tab-content {
        display: flex !important;
        justify-content: space-around;
        align-items: end;
        width: 50vw;
        margin-right: 25vw;
        padding: 0 50px;
        font-size: 3vh;
        text-align: justify;
    }
}

.flex-column .active a {
    background: none !important;
    border: none !important;
    font-weight: 700;
    font-size: 6vh;
    color: $white;
}

.flex-column .nav-item a {
    font-weight: 400;
    font-size: 1rem;
    color: $white;
    margin-bottom: 23px !important;
}

.flex-column .active a {
    font-size: 1.4rem !important;
}

.flex-column .nav-item a {
    padding: 1vh 0 !important;
}

.carousel-indicators {
    right: 4vw !important;
    bottom: 53vh !important;
    display: flex;
    justify-content: flex-end !important;
}

.carousel .carousel-indicators li {
    width: 23px !important;
    height: 2px !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    margin: 0 !important;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    width: 45px !important;
    height: 45px !important;
}

.carousel__img {
    height: 50vh;
    width: 100%;
}

// fpJS Setup
#fp-nav {
    top: 50% !important;
    ul li {
        a {
            span {
                width: 8px;
                height: 8px;
                background-color: $white;
                border-radius: 50 !important;
            }
            &.active span {
                width: 16px;
                height: 16px;
                background-color: $focus;
            }
        }
    }
    @include breakpoint($max: 767px) {
        display: none;
    }
}

.right {
    right: 57px !important;
}

.menu-wrapper {
    position: fixed;
    width: 100%;
    z-index: 70;
    text-align: center;
    height: 40px;
    margin: auto;
}

.menu {
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 10px;
    color: $black;
    background: $black;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.menu li.active {
    background: #666;
    background: $black;
    color: $black;
}

.menu li a {
    text-decoration: none;
    color: $black;
}

.menu li.active a:hover {
    color: $black;
}

.menu li:hover {
    background: $black;
}

.menu li a,
.menu li.active a {
    padding: 9px 18px;
    display: block;
}

.menu li.active a {
    color: $black;
}