<canvas class="intro-canvas" id="canvas"></canvas>
<div class="main">
    <div class="main-title">
        <div class="main-title__block">
            <h1 class="main-title__block--hive">Hive</h1>
        </div>
        <h1 class="main-title__studio">Web</h1>
        <h1 class="main-title__studio">Studio</h1>
        <span class="main-title__motto">in web we trust</span>
    </div>
    <div class="main-start">
        <h2 class="main-start__motto">{{ "main.main-section.cta-txt" | translate }}</h2>
        <div class="main-start__block">
            <a class="button-white" href="#contacts" role="button">
                <span class="button-white__title">{{ "main.main-section.cta-btn" | translate }}</span>
                <span class="button-white__icon">
                    <svg class="button-white__icon--svg" width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.1919 8.04857H0V5.95142H30.1919V8.04857Z"
                            fill="#191715" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0401 0L32 7L26.0401 14L24.6042 12.5829L29.3576 7L24.6042 1.4171L26.0401 0Z"
                            fill="#191716" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-social">
        <a class="footer-social__link" href="https://www.behance.net/hive-studio" title="Behance - Hive Studio" target="_blank">
            <i class="fa fa-behance footer-social__link--icon" aria-hidden="true"></i>
        </a>
        <a class="footer-social__link" href="https://www.facebook.com/groups/875659312616598/" title="Facebook - Hive Studio" target="_blank">
            <i class="fa fa-facebook footer-social__link--icon" aria-hidden="true"></i>
        </a>
        <a class="footer-social__link" href="https://www.linkedin.com/company/hive-studio-net" title="LinkedIn - Hive Studio" target="_blank">
            <i class="fa fa-linkedin footer-social__link--icon" aria-hidden="true"></i>
        </a>
    </div>
    <div class="footer-counter">
        <span class="footer-counter__title"><span class="footer-counter__title--focused">01</span> / 07</span>
    </div>
</div>

<script>
</script>